.heroContainer {
  background: #fff8ec;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.herocontainerVideo {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.heroTitle {
  color: #febd01;
  font-size: 80px;
  margin-top: -600px;
  position: relative;
  text-align: center;
  font-weight: 700;
}

.heroSubtitle {
  margin-top: 8px;
  color: white;
  font-size: 24px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
  text-align: center;
  font-weight: 500;
}

.heroCom {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 360px;
  position: relative;
}

.heroCom1 {
  width: 100px;
  height: 100px;

  top: -80px;
  left: 400px;
  position: relative;
}

@media screen and (max-width: 100%) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -1500px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }
  .hero-container > p {
    font-size: 30px;
  }
}

.midContainer {
  width: 100%;
  height: 300px;
  background-color: #febd01;
  text-align: center;
}

.midTitle {
  color: white;
  padding-top: 80px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  position: relative;
}

.midSubtitle {
  color: white;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}

.Page2 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, white, #fff8ec);
  display: flex;
}

.page2Section {
  width: 80%;
  height: 80%;
  display: flex;
  position: absolute;
  left: 180px;
  top: 1350px;
  z-index: 1;
}
.page2Article {
  flex: 1;
  padding: 70px 40px 100px;
  position: relative;
  opacity: 0.6;
  z-index: 1;
  transition:
    opacity 1s,
    flex 1s;
  cursor: pointer;
}

.page2Article::before {
  content: "";
  display: block;
  width: 80%;
  height: 95%;
  position: absolute;
  background: white;
  top: 0px;
  left: -200px;
  opacity: 0;
  transition: 1s;
  border-radius: 30px;
}
.page2Inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  position: relative;
}
.page2Txt {
  width: 100%;
  transition: 0.5s;
}
.page2H2 {
  font: normal 2vw/1 "Alegreya Sans SC";
  color: #febd01;
  margin-bottom: 40px;
  padding-top: 70px;
  transition: 1s;
  font-weight: 700;
}
.page2H2::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #777;
  margin-top: 20px;
  transition: 1.5s;
}
.page2P {
  font: 25px/1.4 "aria";
  color: #888;
  font-weight: 700;
}
.page2Figure {
  width: 100%;
  height: 20vh;
  background: #777;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  z-index: 1;
  transform-origin: left center;
  transition: 1s;
  border-radius: 30px;
}
.page2Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  border-radius: 30px;
}
.page2Article:hover {
  flex: 1.2;
  opacity: 1;
  z-index: 2;
}
.page2Article:hover::before {
  left: 0px;
  opacity: 0.8;
}

.page2Article:hover .page2Txt {
  width: 75%;
}

.page2Article:hover .page2H2 {
  font-size: 5vw;
  padding-top: 0px;
}

.page2Article:hover .page2H2::after {
  width: 120px;
  background: #c1554d;
}

.page2Article:hover .page2Figure {
  height: 23vh;
  filter: saturate(120%);
  transform: translateY(3vh);
}

.page2-aside {
  width: 100%;
  height: 100vh;
  background: #222;
  position: absolute;
  top: 0px;
  left: -100%;
  opacity: 0;
  z-index: 2;
  padding: 20vh 7vw 14vh 20vw;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}

.page2-aside.on {
  opacity: 1;
  left: 0%;
}

.page2-aside .page2Txt-aside {
  width: 25%;
  height: 100%;
}

.page2-aside .page2H1 {
  font: normal 6vw/1 "Alegreya Sans SC";
  color: #ddd;
  margin-bottom: 20px;
}

.page2-aside .page2Txt-aside p {
  font: 1.1vw/1.3 "arial";
  color: #666666;
  margin-bottom: 60px;
}

.page2-aside .page2Txt-aside span {
  cursor: pointer;
  color: orange;
}

.page2-aside figure {
  width: 72%;
  height: 100%;
}

.page2-aside .page2Txt-aside .page2Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Page3 {
  width: 100%;
  height: 100vh;
  background: #fff8ec;
  display: flex;
}

.bebeContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 2250px;
  background-color: #fff8ec;
  text-align: center;
}

.beTitle {
  font: "Alegreya Sans SC";
  color: white;
  font-weight: 700;
  font-size: 50px;
  position: absolute;
  top: 30px;
  left: 48%;
  width: 80px;
  height: 80px;
  background-color: #febd01;
  border-radius: 50%;
}

.beTitle2 {
  color: #222;
  font-family: sans-serif;
  font-size: 40px;
  position: absolute;
  margin-top: 10%;
  margin-left: 39%;
  font-weight: 700;
  width: 400px;
  height: 60px;
  background: linear-gradient(to top, #c1554d 20%, transparent 40%);
}

.beSubtitle {
  width: 500px;
  height: 150px;
  margin: 30px;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  color: #666666;
  position: absolute;
  top: 400px;
  right: 300px;
  font-size: 25px;
}

.beImg {
  width: 300px;
  height: 550px;
  position: absolute;
  top: 300px;
  left: 30%;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  opacity: 1;
  border-radius: 30px;
}

.beLine {
  width: 100%;
  height: 20px;
  background-color: #c1554d;
  position: absolute;
  bottom: 35%;
  opacity: 0.5;
}

.Page4 {
  width: 100%;
  height: 100vh;
  background: url(../assets/images/mainpage/Frame8.png) fixed;
  display: flex;
}

.page4Title {
  font: "Alegreya Sans SC";
  color: #febd01;
  font-weight: 700;
  font-size: 50px;
  position: absolute;
  top: 3400px;
  left: 46%;
  width: 80px;
  height: 80px;
  background-color: #c1554d;
  border-radius: 50%;
}

.page3Container {
  width: 1000px;
  height: 500px;
  display: flex;
  position: absolute;
  left: 260px;
  top: 3550px;
  z-index: 1;
  margin: 30px;
}
.page3Card {
  width: 300px;
  height: 500px;
  margin: 30px;
  top: -100px;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  background-color: #fff8ec;
  position: center;
}

.page3Card:hover {
  content: "page3Subtitle1";
  display: block;
  width: 500px;
  height: 500px;
  background: #febd01;
  margin-top: 20px;
  transition: 1.5s;
}

.page3Card:hover .page3Subtitle1 {
  width: 100%;
  opacity: 1;
  color: #fff8ec;
  padding: 20px;
}

.page3Img {
  width: 400px;
  height: 300px;
  position: relative;
  top: -70px;
  animation-name: img-hover;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes img-hover {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(40px);
  }
}

.page3Title {
  font: normal 2vw/1 "Alegreya Sans SC";
  color: #febd01;
  margin-bottom: 30px;
  padding-top: 70px;
  transition: 1s;
  font-weight: 700;
  font-size: 50px;
}

.page3Subtitle {
  font: 15px/1.4;
  color: #c1554d;
  font-weight: 700;
}

.page3Subtitle1 {
  font-size: 14px;
  color: #fff8ec;
}

.Page5 {
  width: 100%;
  height: 100vh;
  background: url(../assets/images/mainpage/Frame18.png) fixed;
  display: flex;
}
.page5Container {
  width: 90%;
  height: 80vh;
  position: absolute;
  top: 4300px;
  left: 100px;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  border-radius: 30px;
}
.page5Title {
  width: 200px;
  height: 100px;
  color: #c1554d;
  font-weight: 700;
  font-size: 60px;
  position: absolute;
  left: 400px;
  margin-top: 10%;
}
.page5Img {
  width: 500px;
  height: 500px;
  position: absolute;
  right: 300px;
  margin-top: 10%;
}
